* {
    box-sizing: border-box;
    margin: 0;
}

.cabeçalho {
    background-image: url(https://img.freepik.com/fotos-gratis/arranjo-liso-leigo-de-elementos-de-mesa-com-espaco-de-copia_23-2148513316.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 300px;
    margin: 10px;
    border-radius: 30px;
}

.titulo{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.navegação ul {
    list-style-type: none;
    background-color: lightyellow;
    padding: 0px;
    margin: 0px;
}

.navegação a {
    text-decoration: none;
    color: black;
    padding: 15px;
    text-align: center;
    display: flex;
}

.alinhar {
    display: flex;
}

.navegação a:hover {
    background-color: yellow;
} 

.cab {
    background-color: black;
    color: darkkhaki;
    text-align: center;
    padding: 5px;
}

.arti {
    background-image: linear-gradient(to right, rgb(243, 243, 191), rgb(247, 247, 127), rgb(245, 245, 61));
    padding: 10px; 
    text-align: center;
}

.rdp {
    text-align: center;
    background-color: rgb(48, 53, 53);
    padding: 5px;
}

.rdp a {
    color: darkgoldenrod;
}

.sec {
    border: 1px solid white;
}

.lateral {
    background-image: radial-gradient(circle,  rgb(243, 243, 191), rgb(247, 247, 127), rgb(245, 245, 61));
    color: darkgoldenrod;
    text-align: center;
    padding: 5px;
    border-radius: 30px;
    border: 1px solid black;
    width: 20%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.larteral h3 {
    text-shadow: 1px 1px 2px chocolate;
    font-size: 25px;
    padding: 5px;
}

.lateral a {
    color: darkgoldenrod;
    padding: 5px;
}

.ladoalado {
    display: flex;
}

.principal {
    width: 80%;   
}

.Rodapé {
    background-color: rgba(172, 163, 44, 0.55);
    height: 50px;
    font-size: 20px;
    text-align: center;
}

.Rodapé a {
    color: black;
    padding: 15px;
    font-size: 15px;
}
